* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

/* 
 * CSS rules ordered according to: https://meiert.com/en/blog/how-to-order-css-selectors/
 * CSS properties ordered according to: https://9elements.com/css-rule-order/
 */

* {
  margin: 0;
}

html {
  font-size: 1.125em; /* 18px but responds to browser setting */

  /* Spacing */
  --sp-1: 8px;
  --sp-2: 16px;
  --sp-3: 24px;
  --sp-4: 32px;
  --sp-6: 48px;
  --sp-8: 64px;
  --sp-10: 96px;
  --sp-16: 128px;

  /* Font size palette */
  --font-normal: 1rem;
  --font-large: 1.25rem;
  --font-larger: 1.5rem;
  --font-largest: 2rem;

  /* Color palette */
  --primary: hsl(160deg, 100%, 30%);
  --secondary-lighter: hsl(45deg, 100%, 50%);
  --secondary-darker: hsl(45deg, 100%, 40%);
  --black: hsl(0deg, 0%, 0%);
  --very-dark: hsl(0deg, 0%, 10%);
  --dark: hsl(0deg, 0%, 30%);
  --medium: hsl(0deg, 0%, 40%);
  --light: hsl(0deg, 0%, 60%);
  --white: hsl(0deg, 0%, 100%);
}

body {
  background-color: var(--light);
  color: var(--very-dark);
}

header {
  border-bottom: var(--sp-1) solid var(--dark);
  background-color: var(--white);
}

header p {
  font-size: var(--font-large);
}

main {
  padding: var(--sp-16) 0;
}

main p {
  font-size: var(--font-normal);
}

p {
  margin-top: var(--sp-4);
}

h1 {
  margin: var(--sp-8) 0;
  font-size: var(--font-largest);
  color: var(--black);
}

h2 {
  border-bottom: var(--sp-1) solid var(--secondary-darker);
  width: fit-content;
  padding: var(--sp-4) var(--sp-8);
  background-color: var(--secondary-lighter);
  font-size: var(--font-large);
  color: var(--black);
}

strong {
  color: var(--primary);
}

.max-width-wrapper {
  max-width: 650px;
  margin: 0 auto;
}

.intro-chunk {
  max-width: 450px;
  padding: var(--sp-8) var(--sp-4);
}

.card {
  border-bottom: var(--sp-1) solid var(--dark);
  padding: var(--sp-4);
  background-color: var(--white);
}

.indented-heading {
  margin-left: calc(-1 * var(--sp-8));
  margin-top: calc(-1 * var(--sp-3));
}